<div class="logo">
  <a  class="simple-text logo-mini">
    <div class="logo-img">
      <a href="/#/" style="color: white;"><li  class="tim-icons icon-button-power"></li></a>
    </div>
  </a>
  <a href="/#/" class="simple-text logo-normal">
    Jinga-Ma-Thing
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
