<div class="content">
  <p-tabMenu [model]="items" [activeItem]="items[0]" (click)="menuswitch($event)"></p-tabMenu>
  <br>

  <div *ngIf="isOpenOrder">
    <div class=" card">
      <div class=" card-header">
        <h5 class=" title">Open Orders </h5>
      </div>
      <div class=" card-body">
        <!-- No Data -->
        <div *ngIf="noopenorders">
          <div class=" typography-line">
            <span> </span>
            <p class=" text-info">
              <strong>You have no open orders.</strong>
            </p>
          </div>
        </div>
        <!-- End of No Data -->
        <div *ngIf="noopenorders === false">
          <p class=" text-info">
            <strong>*Expand For Requirements</strong>
          </p>
          <br>
          <p-table #DOT class="tables" id="DOTTable" [columns]="DevOpenHeaders" [value]="DevOpenOrders"
            selectionMode="single" [(selection)]="selecteddata1" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
            [paginator]="true" [reorderableColumns]="true" dataKey="orderNumber"
            (onRowSelect)="OnOrderOpenSelect($event)">
            <ng-template pTemplate="caption">
              Orders - Click on order to load its tasks
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 3em"></th>
                <th *ngFor="let cols of DevOpenHeaders" style="text-transform: capitalize;" [pSortableColumn]="cols"
                  pReorderableColumn pResizableColumn>
                  {{cols}}
                  <p-sortIcon [field]="cols"></p-sortIcon>
                </th>
                <th style="width:13em">Actions</th>
              </tr>
              <tr>
                <th style="width: 3em"></th>
                <th id="search" *ngFor="let cols of DevOpenHeaders" [ngSwitch]="cols">
                  <input placeholder="Filter...." type="text" pInputText [style]="{'width':'100%'}"
                    (input)="DOT.filter($event.target.value, cols, 'contains', cols.filterMatchMode)"
                    [value]="DOT.filters[cols] ? DOT.filters[cols].value : ''">
                </th>
                <th style="width:13em">No Filter</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-DevOpenOrders let-expanded="expanded" let-columns="DevOpenHeaders">
              <tr [pSelectableRow]="DevOpenOrders">
                <td>
                  <a href="#" [pRowToggler]="DevOpenOrders">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                  </a>
                </td>
                <td *ngFor="let cols of DevOpenHeaders" style="height: 10px; max-height: 10px; overflow:hidden">
                  {{DevOpenOrders[cols]}}
                </td>
                <td>
                  <button pButton type="button" icon="pi pi-check" class="ui-button-success" style="width : 150px;"
                    label="Mark Complete" (click)="MarkAsComplete(DevOpenOrders)"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-DevOpenOrders let-columns="columns">
              <tr>
                <td [attr.colspan]="columns.length + 2">
                  <div class="p-grid -fluid" style="font-size:16px;padding:20px">
                    <div class="p-col-12 p-md-9">
                      <div class="p-grid">
                        <div class="p-col-12">
                          <b>{{DevOpenOrders.requirements}}</b>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <!-- Second Card -->
    <div class=" card" *ngIf="OrderSelectedLoadTask">
      <div class=" card-header">
        <h5 class=" title">Tasks</h5>
      </div>
      <div class=" card-body">
        <!-- No Data -->
        <div *ngIf="notasks">
          <div class=" typography-line">
            <span> </span>
            <p class=" text-info">
              <strong>You have no Tasks for Selected Order.</strong>
            </p>
          </div>
        </div>
        <!-- End of No Data -->
        <div *ngIf="notasks === false;">
          <p-table #OTS class="tables" id="OTSTable" [columns]="TasksHeaders" [value]="TasksData"
            [(selection)]="selecteddata2" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            editMode="row" [reorderableColumns]="true" dataKey="developerTaskID">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let cols of TasksHeaders" style="text-transform: capitalize;" [pSortableColumn]="cols"
                  pReorderableColumn pResizableColumn>
                  {{cols}}
                  <p-sortIcon [field]="cols"></p-sortIcon>
                </th>
                <th style="width:8em"></th>
              </tr>
              <tr>
                <th id="search" *ngFor="let cols of TasksHeaders" [ngSwitch]="cols">
                  <input placeholder="Filter...." type="text" pInputText [style]="{'width':'100%'}"
                    (input)="OTS.filter($event.target.value, cols, 'contains', cols.filterMatchMode)"
                    [value]="OTS.filters[cols] ? OTS.filters[cols].value : ''">
                </th>
                <th style="width:8em"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-TasksData let-columns="TasksHeaders" let-editing="editing"
              let-ri="rowIndex">
              <tr [pEditableRow]="TasksData">
                <td *ngFor="let cols of TasksHeaders" style="height: 10px; max-height: 10px; overflow:hidden">
                  <div *ngIf="cols == 'orderNumber' ">
                    {{TasksData[cols]}}
                  </div>
                  <div *ngIf="cols == 'status' ">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown [options]="Statuses" [(ngModel)]="TasksData[cols]" [style]="{'width':'100%'}"
                          appendTo="body"></p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{TasksData[cols]}}
                      </ng-template>
                    </p-cellEditor>
                  </div>
                  <div *ngIf="cols != 'orderNumber' && cols != 'status'">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="TasksData[cols]" [style]="{'width':'100%'}">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{TasksData[cols]}}
                      </ng-template>
                    </p-cellEditor>
                  </div>
                </td>
                <td style="text-align:center">
                  <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                    class="ui-button-info" (click)="onRowEditInit(TasksData)"></button>
                  <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                    class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(TasksData)"></button>
                  <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                    class="ui-button-danger" (click)="onRowEditCancel(TasksData, ri)"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <p-dialog header="Delete Confirmation" [(visible)]="deletedialog" [focusOnShow]="false" [responsive]="true"
          showEffect="fade" [modal]="true" [style]="{width: '500px'}">
          Are you sure you want to delete this task ?
          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="pi pi-times" class="ui-button-danger" (click)="ConfirmDeleteTask()"
                label="Delete"></button>
              <button type="button" pButton (click)="CloseDeletTaskDialog()" label="Close"></button>
            </div>
          </p-footer>
        </p-dialog>

        <br>
        <button class="btn btn-primary animation-on-hover btn-round" (click)="ShowNewTaskDialog()">Create New
          Task</button>
        <br>
        <div *ngIf="newtaskdialog">
          <form>
            <div class=" row">
              <div class=" col-md-6">
                <div class=" form-group">
                  <label> OrderID </label>
                  <input class=" form-control" disabled="" type="text" placeholder="OrderID"
                    [(ngModel)]="OrderIDSelected" name="OrderIDSelected" autocomplete="doNotAutoComplete">
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class=" form-group">
                  <label for="exampleInputTitle1"> Title </label>
                  <input class=" form-control" type="text" placeholder="Here can be your Title" [(ngModel)]="NTTitle"
                    name="NTTitle" autocomplete="doNotAutoComplete">
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Description </label>
                  <textarea class=" form-control" cols="80" placeholder="Here can be your Description"
                    [(ngModel)]="NTDescription" name="NTDescription"></textarea>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Notes </label>
                  <textarea class=" form-control" cols="80" placeholder="Here can be your Notes" [(ngModel)]="NTNotes"
                    name="NTNotes"></textarea>
                </div>
              </div>
            </div>

          </form>
          <br>
          <button class="btn btn-success animation-on-hover btn-round" (click)="CreateNewTask()">Submit</button>
          <button class="btn btn-danger  animation-on-hover btn-round" (click)="HideNewTaskDialog()">Close</button>
        </div>

      </div>
    </div>
  </div>
  <div *ngIf="isPendingOrder">
    <div class=" card">
      <div class=" card-header">
        <h5 class=" title">Accept/Decline Orders</h5>
      </div>
      <div class=" card-body">
        <form autocomplete="off">
          <!-- No Data -->
          <div *ngIf="nopendingdata1">
            <div class=" typography-line">
              <span> </span>
              <p class=" text-info">
                <strong>You have no Orders to Accept or Decline.</strong>
              </p>
            </div>
          </div>
          <!-- End of No Data -->

          <div *ngIf="nopendingdata1 === false">
            <p-card *ngFor="let item of DevPendingList" class="secondcont" header={{item.name}}
              styleClass="ui-card-shadow">
              <div><strong>Order Description:</strong><br>
                {{item.orderDesc}}</div><br>
              <div><strong>Customer Budget:</strong><br>
                ${{item.budget}} </div><br>
              <div><strong>Customer Requested Date:</strong><br>
                {{item.dateRequested}}</div><br>
              <div><strong>Order Requirements:</strong><br>
                <button pButton style="margin-top: 0.5em" type="button" label="View Requirements"
                  class="ui-button-rounded ui-button-info" (click)="showBasicDialog(item.requirements)"></button>
              </div>
              <br>
              <p-footer>
                <button pButton type="button" label="Edit&Accept" icon="pi pi-check" style="margin-right: 0.5em"
                  class="ui-button-success" (click)="ShowEditDialog(item.developerPendingID)"></button>
                <button pButton type="button" label="Decline" icon="pi pi-times" class="ui-button-danger"
                  (click)="DeclineDialogShow(item.developerPendingID)"></button>
              </p-footer>
            </p-card>
            <p-dialog header="Order Requirements:" [modal]="true" [(visible)]="displayBasic" [style]="{width: '50vw'}"
              [baseZIndex]="10000">
              {{dialogrequirment}}
              <p-footer>
                <button type="button" pButton icon="pi pi-times" (click)="displayBasic=false" label="Close"
                  class="ui-button-secondary"></button>
              </p-footer>
            </p-dialog>
            <p-dialog header="Edit Order" [(visible)]="displayEditDialog" [modal]="true" [style]="{width: '50vw'}"
              [baseZIndex]="10000">
              <div class="p-grid ui-fluid">
                <label class="inputdialog" style="width: 100%;"> New Price* </label><br>
                <div class="p-col-8">
                  <p-inputNumber id="BudgetInput" placeholder="$0.00" [style]="{width: '100%'}" [(ngModel)]="ONewPrice"
                    name="ONewPrice" mode="currency" currency="USD" locale="en-US">
                  </p-inputNumber>
                </div>
                <br>
                <label class="inputdialog" style="width: 100%;"> New Completion Date* </label><br>
                <div class="p-col-8">
                  <p-calendar id="CalenderInput" [touchUI]="true" (onSelect)="onDate(OCompleteDate)"
                    [(ngModel)]="OCompleteDate" name="OCompleteDate" [style]="{width: '100%'}"
                    placeholder="Choose a Date" [showIcon]="true" showButtonBar="true" dateFormat="yy-mm-dd">
                  </p-calendar>
                </div>
                <br>
              </div>
              <p-footer>
                <button pButton type="button" label="Accept Order" icon="pi pi-check" style="margin-right: 0.5em"
                  class="ui-button-success" (click)="AcceptOrder()"></button>
                <button type="button" pButton icon="pi pi-times" (click)="displayEditDialog=false" label="Close"
                  class="ui-button-secondary"></button>
              </p-footer>
            </p-dialog>
            <p-dialog header="Decline Order" [modal]="true" [(visible)]="displaydecline" [style]="{width: '50vw'}"
              [baseZIndex]="10000">
              <strong>Are you sure you want to decline this order ?</strong> <br><br>
              <label class="inputdialog"> Please Type in a reason for declining order: </label> <br><br>
              <div class="p-col-8">
                <input style="width: 100%;" type="text" pInputText id="BudgetInput" [(ngModel)]="ODeclineReason"
                  name="ODeclineReason">
              </div>
              <br>
              <p-footer>
                <button pButton type="button" label="Decline" icon="pi pi-times" style="margin-right: 0.5em"
                  class="ui-button-danger" (click)="DeclineOrder()"></button>
                <button type="button" pButton icon="pi pi-times" (click)="displaydecline=false" label="Close"
                  class="ui-button-secondary"></button>
              </p-footer>
            </p-dialog>
          </div>
        </form>
      </div>
    </div>
    <!-- Second Card -->
    <div class=" card">
      <div class=" card-header">
        <h5 class=" title">Orders Accepted - Waiting Customer Approval</h5>
      </div>
      <div class=" card-body">
        <form autocomplete="off">
          <!-- No Data -->
          <div *ngIf="custpendingdata">
            <div class=" typography-line">
              <span> </span>
              <p class=" text-info">
                <strong>You have no orders pending customer approval.</strong>
              </p>
            </div>
          </div>
          <!-- End of No Data -->

          <div *ngIf="custpendingdata === false">
            <p class=" text-info">
              <strong>*Expand For Requirements</strong>
            </p>
            <br>
            <p-table #DOP class="tables" id="DOPTable" [columns]="CustApprovPendingHeader"
              [value]="CustApprovPendingData" [(selection)]="selecteddata3" [rows]="10"
              [rowsPerPageOptions]="[10,25,50]" [paginator]="true" [reorderableColumns]="true"
              dataKey="customerPendingID">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th style="width: 3em"></th>
                  <th *ngFor="let cols of CustApprovPendingHeader" style="text-transform: capitalize;"
                    [pSortableColumn]="cols" pReorderableColumn pResizableColumn>
                    {{cols}}
                    <p-sortIcon [field]="cols"></p-sortIcon>
                  </th>
                </tr>
                <tr>
                  <th style="width: 3em"></th>
                  <th id="search" *ngFor="let cols of CustApprovPendingHeader" [ngSwitch]="cols">
                    <input placeholder="Filter...." type="text" pInputText [style]="{'width':'100%'}"
                      (input)="DOP.filter($event.target.value, cols, 'contains', cols.filterMatchMode)"
                      [value]="DOP.filters[cols] ? DOP.filters[cols].value : ''">
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-CustApprovPendingData let-expanded="expanded"
                let-columns="CustApprovPendingHeader">
                <tr [pSelectableRow]="CustApprovPendingData">
                  <td>
                    <a href="#" [pRowToggler]="CustApprovPendingData">
                      <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                  </td>
                  <td *ngFor="let cols of CustApprovPendingHeader"
                    style="height: 10px; max-height: 10px; overflow:hidden">
                    <div *ngIf="cols == 'priceOffered'">
                      ${{CustApprovPendingData[cols]}}
                    </div>
                    <div *ngIf="cols != 'priceOffered'">
                      {{CustApprovPendingData[cols]}}
                    </div>

                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-CustApprovPendingData let-columns="columns">
                <tr>
                  <td [attr.colspan]="columns.length + 1">
                    <div class="p-grid -fluid" style="font-size:16px;padding:20px">
                      <div class="p-col-12 p-md-9">
                        <div class="p-grid">
                          <div class="p-col-12">
                            <b>{{CustApprovPendingData.requirements}}</b>
                          </div>

                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="isOrderHistory">
    <div class=" card">
      <div class=" card-header">
        <h5 class=" title">Previous Orders </h5>
      </div>
      <div class=" card-body">
        <!-- No Data -->
        <div *ngIf="noorderhistory">
          <div class=" typography-line">
            <span> </span>
            <p class=" text-info">
              <strong>You have no previous orders.</strong>
            </p>
          </div>
        </div>
        <!-- End of No Data -->
        <div *ngIf="noorderhistory === false">
          <p class=" text-info">
            <strong>*Expand For Requirements</strong>
          </p>
          <br>
          <p-table #DOH class="tables" id="DOHTable" [columns]="DevOrderHistoryHeaders" [value]="DevOrderHistory"
            [(selection)]="devhistoryselected" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            [reorderableColumns]="true" dataKey="orderNumber">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 3em"></th>
                <th *ngFor="let cols of DevOrderHistoryHeaders" style="text-transform: capitalize;"
                  [pSortableColumn]="cols" pReorderableColumn pResizableColumn>
                  {{cols}}
                  <p-sortIcon [field]="cols"></p-sortIcon>
                </th>
              </tr>
              <tr>
                <th style="width: 3em"></th>
                <th id="search" *ngFor="let cols of DevOrderHistoryHeaders" [ngSwitch]="cols">
                  <input placeholder="Filter...." type="text" pInputText [style]="{'width':'100%'}"
                    (input)="DOH.filter($event.target.value, cols, 'contains', cols.filterMatchMode)"
                    [value]="DOH.filters[cols] ? DOH.filters[cols].value : ''">
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-DevOrderHistory let-expanded="expanded"
              let-columns="DevOrderHistoryHeaders">
              <tr [pSelectableRow]="DevOrderHistory">
                <td>
                  <a href="#" [pRowToggler]="DevOrderHistory">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                  </a>
                </td>
                <td *ngFor="let cols of DevOrderHistoryHeaders" style="height: 10px; max-height: 10px; overflow:hidden">
                  <div *ngIf="cols == 'rating'">
                    <p-rating [(ngModel)]="DevOrderHistory[cols]" disabled="disabled"></p-rating>
                  </div>
                  <div *ngIf="cols != 'rating'">
                    {{DevOrderHistory[cols]}}
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-DevOrderHistory let-columns="columns">
              <tr>
                <td [attr.colspan]="columns.length + 1">
                  <div class="p-grid -fluid" style="font-size:16px;padding:20px">
                    <div class="p-col-12 p-md-9">
                      <div class="p-grid">
                        <div class="p-col-12">
                          <b>{{DevOrderHistory.requirements}}</b>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
