p-table  tr {
    overflow: hidden;
    width: 0%;
}
#search{
    overflow: hidden;
    word-wrap : break-word;
}
.secondcont{
	float: left;
    overflow: hidden;
	margin-right: 2em;
	margin-bottom: 2em;
	position: relative;
}
::ng-deep body .ui-table .ui-table-caption {

    background: #27293d;
    color: white;
    border: none;
}

::ng-deep body #BudgetInput .ui-widget{
    width: 300px;
}
::ng-deep body #CalenderInput .ui-inputtext {
    width: 264px;
}