<div class=" content" id="myDiv">
  <div *ngIf="iscustomer" class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Edit Profile</h5>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Company (disabled) </label>
                  <input class=" form-control" disabled="" placeholder="Company" type="text" value="Jinga-Ma-Thing" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> FirstName </label>
                  <input class=" form-control" type="text" placeholder="FirstName" [(ngModel)]="CFirstName"
                    name="CFirstName" autocomplete="doNotAutoComplete">
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> LastName </label>
                  <input class=" form-control" type="text" placeholder="LastName" [(ngModel)]="CLastName"
                    name="CLastName" autocomplete="doNotAutoComplete">
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input class=" form-control" type="text" placeholder="Email" [(ngModel)]="CEmail" name="CEmail"
                    autocomplete="doNotAutoComplete">
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> PhoneNumber </label>
                  <input class=" form-control" type="text" placeholder="PhoneNumber" [(ngModel)]="CPhoneNumber"
                    name="CPhoneNumber" autocomplete="doNotAutoComplete">
                </div>
              </div>
            </div>


          </form>
        </div>
        <div class=" card-footer">
          <button class="btn btn-primary animation-on-hover btn-round" type="submit"
            (click)="UpdateCustomerInfo()">Save</button>
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src={{CPhoto}} />

              <h5 class=" title">{{CFirstName}} {{CLastName}}</h5>
            </a>
            <p class=" description">Customer</p>
            <br>
            <input #file type="file" name="file" id="file" class="inputfile" accept="image/*" />
            <label for="file"><strong>Choose a file</strong></label>
            <br>
            <br>
            <button class="btn btn-primary animation-on-hover btn-round" (click)="CUploadPhoto(file.files)">Update
              Photo</button>
            <br />
            <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
              {{progress}}%
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isdeveloper" class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Edit Profile</h5>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-6">
                <div class=" form-group">
                  <label> Company (disabled) </label>
                  <input class=" form-control" disabled="" placeholder="Company" type="text" value="Jinga-Ma-Thing" />
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Title </label>
                  <input class=" form-control" type="text" placeholder="Title" [(ngModel)]="DTitle" name="DTitle"
                    autocomplete="doNotAutoComplete">
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class=" form-group">
                  <label> FirstName </label>
                  <input class=" form-control" type="text" placeholder="FirstName" [(ngModel)]="DFirstName"
                    name="DFirstName" autocomplete="doNotAutoComplete">
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> LastName </label>
                  <input class=" form-control" type="text" placeholder="LastName" [(ngModel)]="DLastName"
                    name="DLastName" autocomplete="doNotAutoComplete">
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input class=" form-control" type="text" placeholder="Email" [(ngModel)]="DEmail" name="DEmail"
                    autocomplete="doNotAutoComplete">
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> PhoneNumber </label>
                  <input class=" form-control" type="text" placeholder="PhoneNumber" [(ngModel)]="DPhoneNumber"
                    name="DPhoneNumber" autocomplete="doNotAutoComplete">
                </div>
              </div>

            </div>

            <div class=" row">

              <div class=" col-md-6">
                <div class=" form-group">
                  <label> Programming Languages </label>
                  <textarea class=" form-control" cols="80" placeholder="Here can be your Programming Languages"
                    [(ngModel)]="DPLanguages" name="DPLanguages"></textarea>
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label> Skills </label>
                  <textarea class=" form-control" cols="80" placeholder="Here can be your Skills" [(ngModel)]="DSkills"
                    name="DSkills"></textarea>
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label> Education </label>
                  <textarea class=" form-control" cols="80" placeholder="Here can be your Education"
                    [(ngModel)]="DEducation" name="DEducation"></textarea>
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label> Certificates </label>
                  <textarea class=" form-control" cols="80" placeholder="Here can be your Certificates"
                    [(ngModel)]="DCertificates" name="DCertificates"></textarea>
                </div>
              </div>
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Description </label>
                  <textarea class=" form-control" cols="80" placeholder="Here can be your description"
                    [(ngModel)]="DDescription" name="DDescription"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class="btn btn-primary animation-on-hover btn-round" type="submit"
            (click)="UpdateDeveloperInfo()">Save</button>
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src={{DPhoto}} />

              <h5 class=" title">{{DFirstName}} {{DLastName}}</h5>
            </a>
            <p class=" description">{{DTitle}}</p>
            <br>
            <input #file type="file" name="file" id="file" class="inputfile" accept="image/*" />
            <label for="file"><strong>Choose a file</strong></label>
            <br>
            <br>
            <button class="btn btn-primary animation-on-hover btn-round" (click)="DUploadPhoto(file.files)">Update
              Photo</button>
            <br />
            <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
              {{progress}}%
            </span>
          </div>
          <div class=" card-description">
            {{DDescription}}
          </div>
          <br>
          <div class=" card-description">
            <hr>

          </div>
        </div>

      </div>
    </div>
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Projects Display</h5>
        </div>
        <div class=" card-body">
          <form>
            <p-galleria *ngIf="gallerdisplay" [(value)]="images" [showItemNavigators]="true" [showItemNavigatorsOnHover]="true" [responsiveOptions]="responsiveOptions" [circular]="true" [autoPlay]="true" [numVisible]="3">
              <ng-template pTemplate="item" let-item>
                <img [src]="item.previewImageSrc" style="width: 100%; height: 433.77px;" />
              </ng-template>
              <ng-template pTemplate="thumbnail" let-item>
                <div class="p-grid p-nogutter p-justify-center">
                  <img [src]="item.thumbnailImageSrc" style="width: 100%; height: 122.36px;" />
                </div>
              </ng-template>
              <ng-template pTemplate="caption" let-item>
                <h4 style="margin-bottom: .5rem; color: #ffffff;">{{item.title}}</h4>
                <p style="color: #ffffff;">{{item.alt}}</p>
              </ng-template>
            </p-galleria>
            <br>
            <button class="btn btn-primary animation-on-hover btn-round" (click)="ShowGalleryDialog()">Show
              Gallery DataTable</button>

            <p-table *ngIf="display" #GT class="tables" id="GTable" [columns]="GHeader" [value]="GData"
              datakey="imageID" selectionMode="single" [(selection)]="selecteddata" [rows]="10"
              [rowsPerPageOptions]="[10,25,50]" [paginator]="true"  [reorderableColumns]="true"
              (onRowSelect)="OnRowSelect($event)">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let cols of GHeader" style="text-transform: capitalize;" [pSortableColumn]="cols"
                    pReorderableColumn pResizableColumn>
                    {{cols}}
                    <p-sortIcon [field]="cols"></p-sortIcon>
                  </th>
                </tr>
                <tr>
                  <th id="search" *ngFor="let cols of GHeader" [ngSwitch]="cols">
                    <input placeholder="Filter..." type="text" pInputText [style]="{'width':'100%'}"
                      (input)="GT.filter($event.target.value, cols, 'contains', cols.filterMatchMode)"
                      [value]="GT.filters[cols] ? GT.filters[cols].value : ''">
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-GData let-columns="GHeader">
                <tr [pSelectableRow]="GData">
                <td > 
                <img [alt]="GData.imageID" src={{GData.imagesrc}} width="32" />
                    {{GData.title}} 
                </td>
                  <td > 
                        {{GData.description}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <p-dialog header="Image Details" [(visible)]="displaynewdialog" [focusOnShow]="false" [responsive]="true"
              showEffect="fade" [modal]="true" [style]="{width: '500px'}">
              <div class="p-grid ui-fluid" >
                  <label class="inputdialog">ImageID</label>
                <div class="p-col-8">
                  <input pInputText id="ImageID" name="DGID"  [(ngModel)]="DGID" [disabled]="disabled" autofocus />
                </div>
                  <label class="inputdialog">Description</label>
                <div class="p-col-8">
                  <input pInputText id="Description" name="DGDescription"  [(ngModel)]="DGDescription" />
                </div>
                  <label class="inputdialog">Title</label>
                <div class="p-col-8">
                  <input pInputText id="Title" name="DGTitle" [(ngModel)]="DGTitle" />
                </div>
              </div>
              <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                  <button type="button" pButton icon="pi pi-times" (click)="DeleteDevGallery()" label="Delete"></button>
                  <button type="button" pButton icon="pi pi-check" (click)="UpdateDevGallery()" label="Save"></button>
                </div>
              </p-footer>
            </p-dialog>
          </form>
        </div>
      </div>
    </div>
    <br>
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">New Project Info</h5>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-6">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Description </label>
                  <input class=" form-control" type="text" [(ngModel)]="PDescription" placeholder="Image Description..."
                    name="PDescription" autocomplete="doNotAutoComplete">
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Title </label>
                  <input class=" form-control" type="text" [(ngModel)]="PTitle" placeholder="Image Title..."
                    name="PTitle" autocomplete="doNotAutoComplete">
                </div>
              </div>
            </div>
            <br>
            <input #file2 type="file" name="file2" id="file2" class="inputfile" (change)="onFileChange($event)"
              accept="image/*" />
            &nbsp; <label for="file2"><strong>Choose a Image</strong></label> &nbsp; &nbsp;
            <label>{{filename}}</label>
            <br>
            <br>
            <button class="btn btn-primary animation-on-hover btn-round" (click)="DUploadImage(file2.files)">Upload
              Project</button>
            <br />
            <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
              {{progress}}%
            </span>
          </form>
        </div>
      </div>

    </div>
