 <div  class="wrapper" id="testing2">
 <div *ngIf="isnotLoggedIn">
 <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
      <div  aTilt 
    [tiltSettings]="tiltSettings">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="../../../assets/img/img-01.png" alt="IMG">
				</div>
    </div>  
				<form class="login100-form validate-form">
					<span class="login100-form-title" style="color: #57b846;">
						Welcome to Jinga-Ma-Thing !
					</span>
	
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" (click)="onSignIn()">
							Sign-In
						</button>
					</div>
                    <div class="container-login100-form-btn">
						<button class="login100-form-btn" (click)="onSignUp()">
							Sign-Up
						</button>
					</div>
		
				</form>
			</div>
		</div>
	</div>
    </div>
<div *ngIf="LoggingIn" class="wrapper" id="testing2">
  <app-sign-in></app-sign-in>
 </div>

<div *ngIf="SingingUp" class="wrapper" id="testing2">
  <app-sign-up></app-sign-up>
 </div>
 </div>